.sidebar-filter {
    padding: $gap calc($gap * 2) calc($gap * 2);
    color: $color-light;
    @media (min-width: $md) {
        background-color: rgba(255, 255, 255, 0.25);
        border-right: 1px solid $color-light;
    }
    & legend {
        font-weight: bold;
    }
    & .form-check {
        margin: 10px 0;
        &-input {
            width: 0;
            height: 0;
        }
        &-input::before {
            display: block;
            height: 0.8rem;
            width: 0.8rem;
            margin-top: 0.35rem;
            border: 1px solid $color-light;
            content: "";
        }
        &-input:checked::before {
            background-color: $color-light;
        }
        &-label {
            margin-left: 0.5rem;
            font-size: 1.25rem;
        }
    }
}