.page {
    &-header {
        &__navbar {
            background-color: rgba(255, 255, 255, 0.8);
            &-search {
                flex-wrap: nowrap;
                height: 50px;
                border: 1px solid $color-dark;
                @media (max-width: calc($md - 1px)) {
                    width: calc(100% - 100px);
                    display: inline-flex;
                }
                & i {
                    display: block;
                    padding: 10px;
                }
                & .form-control {
                    border: none;
                    border-radius: 0;
                    background-color: transparent;
                    box-shadow: none;
                    font-size: 1.2rem;
                    @media(min-width: $md) {
                        width: 10rem !important;
                    }
                    @media (max-width: calc($md - 1px)) {
                        flex-grow: 2;
                    }
                }
                & button {
                    margin: calc($gap / 3);
                    color: $color-light;
                    padding: 0;
                    border-color: $color-dark;
                    background-color: $color-dark;
                }
                & button:hover {
                    color: $color-dark;
                    background-color: $color-light;
                }
            }
            & .dropdown-menu {
                @media (min-width: $md) {
                    margin-top: 1px;
                    border: none;
                    border-radius: 0;
                    background-color: $color-dark;
                }
                & a {
                    @media (min-width: $md) {
                        color: $color-light;
                        &:hover {
                            color: $color-dark;
                        }
                    }
                }
            }
        }
        &__cart {
            &-btn {
                position: relative;
                width: 50px;
                height: 50px;
                margin-left: calc($gap * 2);
                color: $color-dark;
                background-color: $color-light;
                border: none;
                border-radius: 0;
                @media (max-width: calc($md - 1px)) {
                    margin-top: -12px !important;
                }
            }
            &-btn span {
                position: absolute;
                top: -12px;
                left: -12px;
                width: 24px;
                height: 24px;
                transition: background-color 0.5s;
                border-radius: 12px;
                box-shadow: 0 0 5px #000000bf;
                background-color: $color-dark;
                color: $color-light;
            }
            &-btn:hover {
                & span {
                    color: $color-dark;
                    background-color: $color-light;
                }
            }
            &-counter {
                display: none;
            }
        }
        &__carousel {
            border-bottom: 1px solid $color-light;
            background-color: rgba(0, 0, 0, .3);
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.navbar {
    margin-left: -$gap;
    margin-right: -$gap;
    padding-top: 26px;
    padding-bottom: 26px;
    &-nav {
        @media(min-width: $md) {
            width: calc(100% - calc($gap * 20));
            padding-right: $gap * 2;
            padding-left: 70px;
        }
        &>.nav {
            &-item {
                @media(min-width: 992px) {
                    flex-grow: 1;
                    text-align: center;
                    &:last-child {
                        border-right: 1px solid $color-dark;
                    }
                }
                & :not(.show) {
                    @media (min-width: $md) {
                        border-left: 1px solid $color-dark;
                    }
                }
            }
        }
    }
    &-light .navbar-nav .nav-link {
        font-size: 1.2rem;
        white-space: nowrap;
        color: $color-dark;
    }
}