.header-navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 26px;
  padding-bottom: 26px;
}

body {
  background-image: url(../img/patt.png);
  background-position: 50% 0;
}